<h1>New Organization</h1>
<% form_for(:organization, @organization, :url => admin_organizations_path) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit "Create and Geocode" %>
  </p>
<% end %>
<%= link_to "Back", admin_organizations_path %>